<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ortalama Hesaplama</title>
    <style>
        h1 {
            text-align: center;
        }
        p {
            text-align: center;
        }
        form {
            padding: 3rem;
            border: 1px solid black;
            border-collapse: collapse;
            width: max-content;
            text-align: center;
        }
        body {
            width: max-content;
            margin-left: 10rem;
            background-color: antiquewhite;
        }
        input {
            width: 80px;
        }
        select {
            text-align: center;
        }
        #preGrade {
            width: 150px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Ortalama Hesaplama</h1>
    <p>Ortalamanizi hesaplamak icin ilgili bolumleri doldurunuz...</p>
    <br>
    <hr><br>
    <form action="/calculate", method="post">
        <label for="totalCredits">Toplam Kredi:</label>
        <input type="number" id="totalCredits" name="totalCredits" value="{{user.totalCredits}}">
        <br> <br>
        <label for="gpa">Genel Ortalama:</label>
        <input type="number" id="gpa" name="gpa" value="{{user.gpa}}">
        <br> <br> <br>
        <thead>
            <tr>
                <th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                <th>&nbsp&nbspDERS ADI</th>
                <th>&nbsp&nbsp&nbsp&nbspKREDI</th>
                <th>&nbsp&nbsp&nbsp&nbsp&nbspNOT</th>
                <th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDERSIN ESKI NOTU</th>
            </tr>
        </thead>
        <tbody>
            <br>
            <tr>
                <td><select name="isRepeat" id="isRepeat">
                    <option value="false" selected>Ilk kez</option>
                    <option value="true">Ikinci kez</option></select>
                </td>
                <td><input type="text" name="courseName" id="courseName"/></td>
                <td><select name="credit" id="credit">
                    <option value="null">seciniz</option>
                    <option value="1">1</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2</option>
                    <option value="2.5">2.5</option>
                    <option value="3">3</option>
                    <option value="3.5">3.5</option>
                    <option value="4">4</option>
                    <option value="4.5">4.5</option>
                    <option value="5">5</option>
                    </select>
                </td>
                <td><select name="grade" id="grade">
                    <option value="null">seciniz</option>
                    <option value="4">AA</option>
                    <option value="3.5">BA</option>
                    <option value="3">BB</option>
                    <option value="2.5">CB</option>
                    <option value="2">CC</option>
                    <option value="1.5">DC</option>
                    <option value="1">DD</option>
                    <option value="0.5">FD</option>
                    <option value="0">FF</option>
                    </select>
                </td>
                <td><select name="preGrade" id="preGrade">
                    <option value="null">seciniz</option>
                    <option value="4">AA</option>
                    <option value="3.5">BA</option>
                    <option value="3">BB</option>
                    <option value="2.5">CB</option>
                    <option value="2">CC</option>
                    <option value="1.5">DC</option>
                    <option value="1">DD</option>
                    <option value="0.5">FD</option>
                    <option value="0">FF</option>
                    </select>
                </td>
            </tr>
            <br>
            <tr>
                <td><select name="isRepeat" id="isRepeat">
                    <option value="false" selected>Ilk kez</option>
                    <option value="true">Ikinci kez</option></select>
                </td>
                <td><input type="text" name="courseName" id="courseName"/></td>
                <td><select name="credit" id="credit">
                    <option value="null">seciniz</option>
                    <option value="1">1</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2</option>
                    <option value="2.5">2.5</option>
                    <option value="3">3</option>
                    <option value="3.5">3.5</option>
                    <option value="4">4</option>
                    <option value="4.5">4.5</option>
                    <option value="5">5</option>
                    </select>
                </td>
                <td><select name="grade" id="grade">
                    <option value="null">seciniz</option>
                    <option value="4">AA</option>
                    <option value="3.5">BA</option>
                    <option value="3">BB</option>
                    <option value="2.5">CB</option>
                    <option value="2">CC</option>
                    <option value="1.5">DC</option>
                    <option value="1">DD</option>
                    <option value="0.5">FD</option>
                    <option value="0">FF</option>
                    </select>
                </td>
                <td><select name="preGrade" id="preGrade">
                    <option value="null">seciniz</option>
                    <option value="4">AA</option>
                    <option value="3.5">BA</option>
                    <option value="3">BB</option>
                    <option value="2.5">CB</option>
                    <option value="2">CC</option>
                    <option value="1.5">DC</option>
                    <option value="1">DD</option>
                    <option value="0.5">FD</option>
                    <option value="0">FF</option>
                    </select>
                </td>
            </tr>
            <br>
            <tr>
                <td><select name="isRepeat" id="isRepeat">
                    <option value="false" selected>Ilk kez</option>
                    <option value="true">Ikinci kez</option></select>
                </td>
                <td><input type="text" name="courseName" id="courseName"/></td>
                <td><select name="credit" id="credit">
                    <option value="null">seciniz</option>
                    <option value="1">1</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2</option>
                    <option value="2.5">2.5</option>
                    <option value="3">3</option>
                    <option value="3.5">3.5</option>
                    <option value="4">4</option>
                    <option value="4.5">4.5</option>
                    <option value="5">5</option>
                    </select>
                </td>
                <td><select name="grade" id="grade">
                    <option value="null">seciniz</option>
                    <option value="4">AA</option>
                    <option value="3.5">BA</option>
                    <option value="3">BB</option>
                    <option value="2.5">CB</option>
                    <option value="2">CC</option>
                    <option value="1.5">DC</option>
                    <option value="1">DD</option>
                    <option value="0.5">FD</option>
                    <option value="0">FF</option>
                    </select>
                </td>
                <td><select name="preGrade" id="preGrade">
                    <option value="null">seciniz</option>
                    <option value="4">AA</option>
                    <option value="3.5">BA</option>
                    <option value="3">BB</option>
                    <option value="2.5">CB</option>
                    <option value="2">CC</option>
                    <option value="1.5">DC</option>
                    <option value="1">DD</option>
                    <option value="0.5">FD</option>
                    <option value="0">FF</option>
                    </select>
                </td>
            </tr>
            <br>
            <tr>
                <td><select name="isRepeat" id="isRepeat">
                    <option value="false" selected>Ilk kez</option>
                    <option value="true">Ikinci kez</option></select>
                </td>
                <td><input type="text" name="courseName" id="courseName"/></td>
                <td><select name="credit" id="credit">
                    <option value="0">seciniz</option>
                    <option value="1">1</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2</option>
                    <option value="2.5">2.5</option>
                    <option value="3">3</option>
                    <option value="3.5">3.5</option>
                    <option value="4">4</option>
                    <option value="4.5">4.5</option>
                    <option value="5">5</option>
                    </select>
                </td>
                <td><select name="grade" id="grade">
                    <option value="null">seciniz</option>
                    <option value="4">AA</option>
                    <option value="3.5">BA</option>
                    <option value="3">BB</option>
                    <option value="2.5">CB</option>
                    <option value="2">CC</option>
                    <option value="1.5">DC</option>
                    <option value="1">DD</option>
                    <option value="0.5">FD</option>
                    <option value="0">FF</option>
                    </select>
                </td>
                <td><select name="preGrade" id="preGrade">
                    <option value="null">seciniz</option>
                    <option value="4">AA</option>
                    <option value="3.5">BA</option>
                    <option value="3">BB</option>
                    <option value="2.5">CB</option>
                    <option value="2">CC</option>
                    <option value="1.5">DC</option>
                    <option value="1">DD</option>
                    <option value="0.5">FD</option>
                    <option value="0">FF</option>
                    </select>
                </td>
            </tr>
            <br>
            <tr>
                <td><select name="isRepeat" id="isRepeat">
                    <option value="false" selected>Ilk kez</option>
                    <option value="true">Ikinci kez</option></select>
                </td>
                <td><input type="text" name="courseName" id="courseName"/></td>
                <td><select name="credit" id="credit">
                    <option value="null">seciniz</option>
                    <option value="1">1</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2</option>
                    <option value="2.5">2.5</option>
                    <option value="3">3</option>
                    <option value="3.5">3.5</option>
                    <option value="4">4</option>
                    <option value="4.5">4.5</option>
                    <option value="5">5</option>
                    </select>
                </td>
                <td><select name="grade" id="grade">
                    <option value="null">seciniz</option>
                    <option value="4">AA</option>
                    <option value="3.5">BA</option>
                    <option value="3">BB</option>
                    <option value="2.5">CB</option>
                    <option value="2">CC</option>
                    <option value="1.5">DC</option>
                    <option value="1">DD</option>
                    <option value="0.5">FD</option>
                    <option value="0">FF</option>
                    </select>
                </td>
                <td><select name="preGrade" id="preGrade">
                    <option value="null">seciniz</option>
                    <option value="4">AA</option>
                    <option value="3.5">BA</option>
                    <option value="3">BB</option>
                    <option value="2.5">CB</option>
                    <option value="2">CC</option>
                    <option value="1.5">DC</option>
                    <option value="1">DD</option>
                    <option value="0.5">FD</option>
                    <option value="0">FF</option>
                    </select>
                </td>
            </tr>
            <br>
            <tr>
                <td><select name="isRepeat" id="isRepeat">
                    <option value="false" selected>Ilk kez</option>
                    <option value="true">Ikinci kez</option></select>
                </td>
                <td><input type="text" name="courseName" id="courseName"/></td>
                <td><select name="credit" id="credit">
                    <option value="null">seciniz</option>
                    <option value="1">1</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2</option>
                    <option value="2.5">2.5</option>
                    <option value="3">3</option>
                    <option value="3.5">3.5</option>
                    <option value="4">4</option>
                    <option value="4.5">4.5</option>
                    <option value="5">5</option>
                    </select>
                </td>
                <td><select name="grade" id="grade">
                    <option value="null">seciniz</option>
                    <option value="4">AA</option>
                    <option value="3.5">BA</option>
                    <option value="3">BB</option>
                    <option value="2.5">CB</option>
                    <option value="2">CC</option>
                    <option value="1.5">DC</option>
                    <option value="1">DD</option>
                    <option value="0.5">FD</option>
                    <option value="0">FF</option>
                    </select>
                </td>
                <td><select name="preGrade" id="preGrade">
                    <option value="null">seciniz</option>
                    <option value="4">AA</option>
                    <option value="3.5">BA</option>
                    <option value="3">BB</option>
                    <option value="2.5">CB</option>
                    <option value="2">CC</option>
                    <option value="1.5">DC</option>
                    <option value="1">DD</option>
                    <option value="0.5">FD</option>
                    <option value="0">FF</option>
                    </select>
                </td>
            </tr>
            <br>
            <tr>
                <td><select name="isRepeat" id="isRepeat">
                    <option value="false" selected>Ilk kez</option>
                    <option value="true">Ikinci kez</option></select>
                </td>
                <td><input type="text" name="courseName" id="courseName"/></td>
                <td><select name="credit" id="credit">
                    <option value="null">seciniz</option>
                    <option value="1">1</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2</option>
                    <option value="2.5">2.5</option>
                    <option value="3">3</option>
                    <option value="3.5">3.5</option>
                    <option value="4">4</option>
                    <option value="4.5">4.5</option>
                    <option value="5">5</option>
                    </select>
                </td>
                <td><select name="grade" id="grade">
                    <option value="null">seciniz</option>
                    <option value="4">AA</option>
                    <option value="3.5">BA</option>
                    <option value="3">BB</option>
                    <option value="2.5">CB</option>
                    <option value="2">CC</option>
                    <option value="1.5">DC</option>
                    <option value="1">DD</option>
                    <option value="0.5">FD</option>
                    <option value="0">FF</option>
                    </select>
                </td>
                <td><select name="preGrade" id="preGrade">
                    <option value="null">seciniz</option>
                    <option value="4">AA</option>
                    <option value="3.5">BA</option>
                    <option value="3">BB</option>
                    <option value="2.5">CB</option>
                    <option value="2">CC</option>
                    <option value="1.5">DC</option>
                    <option value="1">DD</option>
                    <option value="0.5">FD</option>
                    <option value="0">FF</option>
                    </select>
                </td>
            </tr>
            <br>
            <tr>
                <td><select name="isRepeat" id="isRepeat">
                    <option value="false" selected>Ilk kez</option>
                    <option value="true">Ikinci kez</option></select>
                </td>
                <td><input type="text" name="courseName" id="courseName"/></td>
                <td><select name="credit" id="credit">
                    <option value="null">seciniz</option>
                    <option value="1">1</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2</option>
                    <option value="2.5">2.5</option>
                    <option value="3">3</option>
                    <option value="3.5">3.5</option>
                    <option value="4">4</option>
                    <option value="4.5">4.5</option>
                    <option value="5">5</option>
                    </select>
                </td>
                <td><select name="grade" id="grade">
                    <option value="null">seciniz</option>
                    <option value="4">AA</option>
                    <option value="3.5">BA</option>
                    <option value="3">BB</option>
                    <option value="2.5">CB</option>
                    <option value="2">CC</option>
                    <option value="1.5">DC</option>
                    <option value="1">DD</option>
                    <option value="0.5">FD</option>
                    <option value="0">FF</option>
                    </select>
                </td>
                <td><select name="preGrade" id="preGrade">
                    <option value="null">seciniz</option>
                    <option value="4">AA</option>
                    <option value="3.5">BA</option>
                    <option value="3">BB</option>
                    <option value="2.5">CB</option>
                    <option value="2">CC</option>
                    <option value="1.5">DC</option>
                    <option value="1">DD</option>
                    <option value="0.5">FD</option>
                    <option value="0">FF</option>
                    </select>
                </td>
            </tr>
            <br>
            <tr>
                <td><select name="isRepeat" id="isRepeat">
                    <option value="false" selected>Ilk kez</option>
                    <option value="true">Ikinci kez</option></select>
                </td>
                <td><input type="text" name="courseName" id="courseName"/></td>
                <td><select name="credit" id="credit">
                    <option value="null">seciniz</option>
                    <option value="1">1</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2</option>
                    <option value="2.5">2.5</option>
                    <option value="3">3</option>
                    <option value="3.5">3.5</option>
                    <option value="4">4</option>
                    <option value="4.5">4.5</option>
                    <option value="5">5</option>
                    </select>
                </td>
                <td><select name="grade" id="grade">
                    <option value="null">seciniz</option>
                    <option value="4">AA</option>
                    <option value="3.5">BA</option>
                    <option value="3">BB</option>
                    <option value="2.5">CB</option>
                    <option value="2">CC</option>
                    <option value="1.5">DC</option>
                    <option value="1">DD</option>
                    <option value="0.5">FD</option>
                    <option value="0">FF</option>
                    </select>
                </td>
                <td><select name="preGrade" id="preGrade">
                    <option value="null">seciniz</option>
                    <option value="4">AA</option>
                    <option value="3.5">BA</option>
                    <option value="3">BB</option>
                    <option value="2.5">CB</option>
                    <option value="2">CC</option>
                    <option value="1.5">DC</option>
                    <option value="1">DD</option>
                    <option value="0.5">FD</option>
                    <option value="0">FF</option>
                    </select>
                </td>
            </tr>
            <br>
            <tr>
                <td><select name="isRepeat" id="isRepeat">
                    <option value="false" selected>Ilk kez</option>
                    <option value="true">Ikinci kez</option></select>
                </td>
                <td><input type="text" name="courseName" id="courseName"/></td>
                <td><select name="credit" id="credit">
                    <option value="null">seciniz</option>
                    <option value="1">1</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2</option>
                    <option value="2.5">2.5</option>
                    <option value="3">3</option>
                    <option value="3.5">3.5</option>
                    <option value="4">4</option>
                    <option value="4.5">4.5</option>
                    <option value="5">5</option>
                    </select>
                </td>
                <td><select name="grade" id="grade">
                    <option value="null">seciniz</option>
                    <option value="4">AA</option>
                    <option value="3.5">BA</option>
                    <option value="3">BB</option>
                    <option value="2.5">CB</option>
                    <option value="2">CC</option>
                    <option value="1.5">DC</option>
                    <option value="1">DD</option>
                    <option value="0.5">FD</option>
                    <option value="0">FF</option>
                    </select>
                </td>
                <td><select name="preGrade" id="preGrade">
                    <option value="null">seciniz</option>
                    <option value="4">AA</option>
                    <option value="3.5">BA</option>
                    <option value="3">BB</option>
                    <option value="2.5">CB</option>
                    <option value="2">CC</option>
                    <option value="1.5">DC</option>
                    <option value="1">DD</option>
                    <option value="0.5">FD</option>
                    <option value="0">FF</option>
                    </select>
                </td>
            </tr>
        </tbody>
        <br> <br> <br> <button type="submit">Hesapla</button>
        <button type="reset">Temizle</button>
    </form>
</body>
</html>